CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
cmake_install.cmake
__pycache__
_out64
out32/*
out64/*
*.o
*.d
*.so
*.so.*
*.csv
*.pyc
*.sln
*.suo
*.sdf
*.vcproj
*.vcxproj
*.filters
*.config
*.creator
*.creator.user
*.includes
*.files
*build*
External/glslang
External/googletest
CMake/FindXCB.cmake
CMake/ECMFindModuleHelpersStub.cmake
android/local.properties
android/bin/AndroidManifest.xml
android/bin/NativeActivity.ap_
android/bin/NativeActivity-debug.apk
android/bin/project.properties
android/bin/proguard-project.txt
android/bin/local.properties
android/bin/NativeActivity-debug-unaligned.apk
/.vs
